:root {
  --main-color: #da0952;
  --main-lighter: #f63075;
}

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
  background: rgb(235, 235, 235);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #32325d;
  font-size: 25px;
}
.container {
  padding: 0 300px;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.background {
  height: 600px;
  background: linear-gradient(90deg, rgb(173, 8, 66), var(--main-color));
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.main {
  width: 100%;
  background: rgb(243, 243, 243);
  min-height: 100vh;
  position: relative;
  top: -150px;
  box-shadow: 10px 10px 17px -10px rgba(102, 102, 102, 0.59);
  border-radius: 5px;
  color: grey;
}

.total {
  width: 150px;
  height: 150px;
  background: white;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  border: solid 4px rgb(144, 3, 52);
  position: relative;
  top: -75px;
  margin: auto;
  left: 0;
  right: 0;
}
.total h4 {
  letter-spacing: 2px;
}

.btn {
  padding: 0.5rem 1.5rem;
  background: white;
  color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn i {
  padding-right: 20px;
}

.dark {
  background: var(--main-color);
  color: white;
  transition: .3s;
}

.dark:hover {
  background:var(--main-lighter);
}

.outline {
  border: solid 2px var(--main-color);
}
.logo {
  padding-right: 5px;
}

.welcome-text {
  color: rgb(255, 255, 255);
  margin-top: 6vh;
}

.welcome-text p {
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 1.7;
}

.welcome-text i {
  padding: 20px;
  font-size: 100px;
}
.header {
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(90deg, rgb(173, 8, 66), var(--main-color));
}

.header i {
  color:white;
}
.inner-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.bubble-text {
  letter-spacing: 2px;
  font-family: "Baloo Bhai", cursive;
}

.title {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.right-header {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.icons {
  width: 100%;
  display: flex;
  position: absolute;
  height: 100px;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.icons-left,
.icons-right {
  color: rgb(167, 167, 167);
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons-right p {
  font-size: 10px;
  font-weight: lighter;
  text-transform: capitalize;
}

.icons-left {
  font-size: 16px;
  font-weight: lighter;
  text-transform: capitalize;
  justify-content: flex-start;
  padding-left: 20px;
}

.icons-right div {
  cursor: pointer;
}

.search-bar {
  position: absolute;
  top: 102px;
  width: 100%;
  padding: 0 50px;
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  box-shadow: 5px 5px 10px -5px rgba(170, 170, 170, 0.59);
}

.search-bar i {
  padding-right: 20px;
}

.search-bar input {
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
}

.cards-wrap {
  width: 100%;
  padding: 50px;
}

.title-bar {
  width: 100%;
  margin: auto;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.card {
  width: 100%;
  min-height: 70px;
  background: white;
  border-radius: 7px;
  box-shadow: 5px 5px 10px -5px rgba(170, 170, 170, 0.59);
  font-size: 14px;
  color: rgb(83, 83, 83);
  font-weight: bold;
  margin: 10px auto;
  
}

.card-top {
  display: flex;
  align-items: center;
  height: 70px;
}
.card i {
  font-size: 20px;
}



.card-section {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section i {
  padding: 10px;
  
}
.no-wrap {
  white-space: nowrap;
}
.name {
  color: rgb(144, 3, 52);
  font-weight: bold;
  
}
.heart {
  color: var(--main-color);
}

.name-section {
  justify-content: flex-start;
 
}

.card-details {
  width:100%;
  min-height:300px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display:flex;
 justify-content: space-around;
 flex-direction: column;
 align-items:center;
 padding:20px 100px;
 background:rgb(248, 248, 248);


}
.card-details a {
  text-decoration: none;
}



.description {
  font-size: 18px;
  font-weight: lighter;

}

.cdn {
  color:var(--main-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding:10px 0;
  white-space: normal;
  word-break: break-all;
  transition: .1s;
}
.copy-sec {
  position: relative;
}


.copied {
  color:var(--main-color);
  position: absolute;
  right:0;
  transition: 1s ease-out;
  opacity: 0;

}


.bounceIn {
  animation-name: bounceIn;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bounceIn{
  0%{
    
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    
    transform: scale(1.1);
  }
  80%{
    
    transform: scale(0.89);
  }
  100%{
    
    transform: scale(1) translate3d(0,0,0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 1600px) {
  .container {
    padding: 0 120px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
  .title,
  .right-header,
  .icons-left,
  .icons-right {
    width: 40%;
  }
}
@media (max-width: 900px) {
  .auth {
    display:none;
  }
  .container {
    padding: 0 10px;
  }

  .title p,
  .link {
    display: none;
  }
  .title,
  .right-header {
 
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 5px;
  }
  .App {
    font-size:16px;
  }
  .cards-wrap {
    padding:50px 5px;
  }
 .total {
   top:-130px;
 }
  .card-details {
    padding:10px 25px;
    min-height: 300px;
  }
  .cdn {
    font-size: 13px;
   
  }
  .icons-left {
    display:none;
  }
  .icons-right {
    width:100%;
  }
  .description  {
    font-size:14px;
    
  }
}

@media (min-width: 2000px) {
  .title,
  .right-header,
  .icons-left,
  .icons-right {
    width: 20%;
  }
}
